@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background: url(/gambar/tdp.png) no-repeat center center/cover;
    flex-direction: column;
}

main {
    flex: 1;
    padding-top: 140px; /* Memberikan jarak agar konten tidak terpotong navbar */
}

/* navbar */
nav {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 10%;
    position: fixed;  /* Ganti sticky dengan fixed */
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);/* Menambahkan bayangan untuk menonjolkan navbar */ /* Line under navbar */
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

nav ul li a {
    color: #eaeaea;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 8px 0;
    transition: all 300ms ease-in-out;
}

nav ul li a:hover, nav ul li a.active{
    color: #354AA0;
    background-color: transparent;
    border-bottom: 3px solid #4A90E2;
    border-radius: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 90px;
    object-fit: contain; /* hindar agar tidak motong gambarnya*/
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1); /* Menambahkan efek zoom pada logo saat hover */
}

nav.scrolled {
    background-color: rgba(0, 0, 0, 0.9); /* Menjaga navbar tetap gelap saat scroll */
}

.menu-icon{
    font-size: 35px;
    display: none;
    align-items: center;
    color: #354AA0;
}

.menu-icon:hover {
    color: #4A90E2;
}

main {
    padding-top: 100px;
}

@media only screen and (max-width: 768px){
    nav {
        flex-wrap: wrap;
        padding: 1.4rem 5%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul li a:hover {
        color: #354AA0;
        border-bottom: 3px solid #4A90E2;
    }

    nav ul li:last-of-type {
        padding-bottom: 8px;
    }

    nav ul.hidden {
        display: none;
    }

    .menu-icon {
        display: flex;
        align-items: center;
    }
}

/* KONTAK */
.container-kontak {
    width: 80%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 6px;
    padding: 30px 60px 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto; /* Menjaga agar tetap sejajar di tengah */
    overflow: hidden; 
    margin-top: 100px;
}

.container-kontak .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-kontak .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .detail {
    margin: 14px;
    text-align: center;
}

.content .left-side .detail i {
    font-size: 30px;
    color: #1D4F9C;
    margin-bottom: 10px;
}

.content .left-side .detail .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .detail .text-one,
.content .left-side .detail .text-two,
.content .left-side .detail .text-three {
    font-size: 14px;
    color: #afafb6;
}

.container-kontak .content .right-side{
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 30px;
    font-weight: 600;
    color: #1D4F9C;
}

.right-side .contact-inputs {
    height: 50px;
    width: 100%;
    margin: 6px 0;
    border: none;
    font-size: 16px;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .psn {
    min-height: 110px;
    padding: 15px;
    margin-top: 6px;
} 


.right-side button[type="submit"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #1D4F9C;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 6px 0;
}

.right-side button[type="submit"]:hover {
    background: #173A6A;
}

@media (max-width: 1280px) {
    .container-kontak {
        margin: 40px auto;
        margin-top: 120px; /* Keep the space above the card */
        margin-bottom: 150px; /* Increased margin to ensure space from the footer */
        height: auto;
    }
}

@media (max-width: 1240px) {
    .container-kontak {
        margin: 40px auto;
        margin-top: 120px; /* Adjust the space above the card */
        height: auto;
        padding-top: 20px; /* Add some padding to the top */
    }
}

@media (max-width: 830px) {
    .container-kontak {
        margin: 40px auto;
        margin-top: 120px; /* Adjust the space above the card for smaller screens */
        height: auto;
    }

    .container-kontak .content {
        flex-direction: column-reverse;
    }

    .container-kontak .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container-kontak .content .left-side::before {
        display: none;
    }

    .container-kontak .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}

/* footer*/
/* footer*/
footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #333333;
    box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0 0;
    transition: background 0.3s linear;
}

.container-footer {
    max-width: 1240px;
    padding: 30px 40px;
    margin: auto;
}

.container-footer li {
    list-style: none;
}

.container-footer li a {
    text-decoration: none;
}

.container-footer .content-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 30px;
}

.content-footer .fabout {
    max-width: 350px;
    flex-basis: 30%;
    min-width: 280px;
    margin-left: 0; 
    padding-left: 0;
    position: relative;
}

.fabout .logo-fabout {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    width: 100%; /* Memastikan elemen ini mengambil lebar penuh kontainer */
}

.fabout .logo-fabout img {
    height: 50px;
}

.fabout .logo-fabout .logo-nama {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem;
    color: #eaeaea;
    position: relative;
    flex-grow: 1;
    margin-bottom: 5px;
}

.fabout .logo-fabout::before {
    content: '';
    position: absolute;
    bottom: 1px; 
    left: 0;
    width: 130px; /* Garis membentang sepanjang lebar kontainer */
    height: 2px;
    background: #1D4F9C;
}

.fabout .logo-about {
    max-width: 320px;
    margin-bottom: 1.25rem;
}

.fabout .logo-about p{
    color: #eaeaea;
    font-weight: 400;
    line-height: 28px;
    max-width: 350px;
    margin-top: 10px;
}

.fabout .social-about a {
    display: inline-block; 
    margin: 0; 
    padding: 0; 
    border: none; 
    box-sizing: border-box; 
    font-size: 24px; 
    color: #eaeaea;
    margin-right: 22px;
}

.fabout .social-about a:hover {
    color: #4A90E2;
}

.content-footer .flink {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.25rem;
}

li.link-name {
    color: #eaeaea;
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
}

li.link-name::before {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 65px; 
    height: 3px;
    background: #1D4F9C; 
}

.flink .link-header li a {
    color: #eaeaea;
    padding-bottom: 1px;
    font-weight: 400;
}

.flink .link-header li a:hover {
    color: #4A90E2;
}

.flink .link-header li {
    margin-bottom: 10px;
}

.fkontak .fkontak-header {
    margin-bottom: 5px; 
}

.fkontak .kontak-name {
    color: #eaeaea;
    font-weight: 600;
    font-size: 1.2rem; 
    position: relative;
}

.fkontak .kontak-name::before {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 50px; 
    height: 2px;
    background: #1D4F9C; 
}

.fkontak .fkontak-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.fkontak-container .fkontak-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fkontak .fkontak-item p{
    color: #eaeaea;
    font-weight: 600;
    margin-bottom: 5px; 
    display: flex;       
    align-items: center; 
    margin-top: 8px;
}

.fkontak .fkontak-item p .fas {
    margin-right: 8px;
    color: #4A90E2;
}

.fkontak .fkontak-item span {
    color: #eaeaea;
    line-height: 1.5;
    font-weight: 400;
}

.content-footer hr {
    height: 1px;
    border: none;
    background-color: black;
    margin-bottom: 1rem;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    flex-wrap: wrap;
    text-align: center;
}

.footer-bottom .bottom-cr {
    color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.footer-bottom .bottom-cr span{
    margin-left: 8px;
    font-weight: 400;
    letter-spacing: 0.135rem;
}

@media (max-width: 960px) {
    .container-footer .content-footer {
        flex-direction: column; 
        align-items: flex-start; 
        gap: 10px;
        flex-wrap: nowrap; 
    }

    .content-footer .fabout,
    .content-footer .flink,
    .fkontak {
        width: 100%; /* Ambil lebar penuh container-footer */
        text-align: left;
        padding: 0; /* Padding horizontal akan dari .container-footer */
        box-sizing: border-box;
    }
}